<%- include("partials/" + heading); -%>

<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3" style="font-size: 3.5rem;">Welcome<br>to<br>DAILY JOURNAL</h1>
    <!-- <p class="lead">to DAILY JOURNAL</p> -->
    <a class="btn btn-secondary btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-secondary btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
